@model IEnumerable<ClothingStore.WebApp.Models.Stores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Count for stores: @ViewBag.numOfStores</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item = item.LocationId }) |
                @Html.ActionLink("Details", "Details", new { item = item.LocationId}) |
            </td>
        </tr>
}
    </tbody>
</table>
