@model IEnumerable<ClothingStore.WebApp.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <form asp-action="Index" method="GET" class="form-inline">
        <label class="sr-only" for="search">Search:</label>
        <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<p>
    <a asp-action="Create">Add New Customer</a>
</p>

<a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Stores"})"> View Stores</a>

<h4>Count for stores: @ViewBag.numOfStores</h4>
<h4>Count for Customers: @ViewBag.numOfCustomers</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultStoreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultStoreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultStoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultStoreName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item = item.CustomerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerId })
                </td>
            </tr>
        }
    </tbody>
</table>
